.container-entregas{
  .btn-primary{
    background-color: $black;
    border: solid 1px gray;
    &:hover{
      border:solid 1px $yellow;
    }
  }
  .box-entregas{

  }
  .box-entrega__title{
    font-family: 'Merriweather', Verdana, Geneva, Tahoma, sans-serif;
    border-left: solid 5px $yellow;
    text-transform: uppercase;
  }
  .seccion-entregas__fasciculo{
    
  }

  .box-vehiculo__button{}
}