
/* ===================================
   Contact
====================================== */

.contact-bg{
  /* background-image: url("../images/contact-bg.jpg"); */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

.contact-form .form-control {
  border: none;
  border:1px solid #464646;
  padding: 22px 0;
  padding-left:15px;
  background: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 32px;
  color: #ffffff;
  position: relative;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: border .9s ease;
  -o-transition: border .9s ease;
  transition: border .9s ease;

}

::placeholder {
  font-size: 18px;
}

.contact-form .form-control:focus {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border-color: #ffffff;
}

.contact-form textarea {
  min-height: 180px;
  resize: none;
}

.contact-form .form-group {
  margin-bottom: 1.5rem;
}

.contact-btn .btn{
  border-radius: 8px;
  font-size: 14px;
  padding: 6px 15px;
  line-height: 1.8em;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}
.brand-copy{
  font-size:14px;
}
